{
    "echo_input": true,
    "command_search": false,
    "smart_history": false,
    "hide_topbar": false,
    "last_command": false,
    "tab_indicator_inline": false,
    "keepalive_enabled": true,
    "tab_indicator_visible": true,
    "scroll_lock": true,
    "log_timestamps": false,
    "reader_mode": false,
    "mouse_enabled": false,
    "logging_enabled": false,
    "save_history": false,
    "tab_indicator_brand": true,
    "confirm_quit": true,
    "tts_enabled": true,
    "scroll_split": true,
}